fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
geoalchemy2
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
pydantic-settings
aiofiles
pillow
python-dotenv
shapely
geojson
